# requirements.txt records the full set of dependencies for development
accelerate
bytecode
codetiming
datasets
dill
hydra-core
numpy<2.0.0
pandas
peft>=0.15.2
pyarrow>=15.0.0,<=24.0.0
pybind11
pylatexenc
tensordict>=0.8.0,<=0.10.0,!=0.9.0
ray[default]
wandb
mathruler
torchdata
einops
qwen_vl_utils
hf_transfer
triton-ascend==3.2.2
TransferQueue==0.1.8
